<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="container">
    <h1>Добавление новой записи</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Наименование:</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
        <div *ngIf="passwordForm.get('name').invalid && passwordForm.get('name').touched" class="text-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>

      <div class="form-group">
        <label>Тип записи:</label><br />
        <label><input type="radio" formControlName="type" value="site"> Сайт</label>
        <label><input type="radio" formControlName="type" value="email"> Эл. почта</label>
      </div>

      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="button" class="btn btn-cancel" (click)="onCancel()">Отмена</button>
    </form>
    <div *ngIf="typeWarning && !passwordForm.valid" class="type-warning">{{ typeWarning }}</div>
    <div *ngIf="passwordWarning && !passwordForm.valid" class="password-warning">{{ passwordWarning }}</div>
  </div>
</body>
</html>
