<div class="container">
  <h1>Список записей</h1>
  <input [(ngModel)]="searchTerm" (input)="search()" placeholder="Search..." class="search-input" />

  <table *ngIf="passwords.length > 0" class="password-table">
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Пароль</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwords">
        <td>{{ password.name }}</td>
        <td (click)="togglePasswordVisibility(password)">
          <span *ngIf="!password.show">******</span>
          <span *ngIf="password.show">{{ password.password }}</span>
        </td>
        <td>{{ password.dateCreated | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="passwords.length === 0">Записей не найдено.</p>
  <div class="button-container">
    <button class="btn btn-view" (click)="navigateToAdd()">Добавить новую запись</button>
  </div>
</div>
